#!/bin/bash
[ -f .env ] && source .env

# export S3_INPUT_PATH="s3://nesta-ds-projects/<MISSION OR PRACTICE>/<PROJECT NAME>"

# Activate the conda environment
eval "$(conda shell.bash activate "ojd_daps_skills")"
[ "$CONDA_DEFAULT_ENV" = "ojd_daps_skills" ] || echo "Have you run \`make install\`?"
