ipykernel
jupytext
flake8
flake8-black
flake8-import-order
flake8-bandit
flake8-bugbear
black
Sphinx
sphinxcontrib-napoleon
sphinx-rtd-theme
awscli==1.27.32
pre-commit
pre-commit-hooks
spacy
pytest
sqlalchemy==1.4.37
pymysql==1.0.2
furo==2022.9.29
myst_parser
