numpy==1.24.4
scipy==1.10.1
pandas==1.3.5
tqdm==4.64.0
filelock==3.7.1
typer==0.4.1
sh==1.14.2
transformers==4.33.3
sentence-transformers==2.2.2
scikit-learn==1.3.1
spacy==3.4.0
nervaluate==0.1.8
s3fs==2022.5.0
boto3==1.21.21
toolz==0.12.0
typing_extensions<4.6.0