numpy==1.22.4
scipy==1.8.1
pandas==1.3.5
matplotlib==3.5.2
altair==4.2.0
tqdm==4.64.0
filelock==3.7.1
typer==0.4.1
sh==1.14.2
sqlalchemy==1.4.37
pymysql==1.0.2
transformers==4.20.1
sentence-transformers==2.2.2
scikit-learn==0.23.2
spacy==3.4.0
jupyter==1.0.0
nervaluate==0.1.8
selenium==4.2.0
altair_saver
webdriver-manager==3.8.4
s3fs==2022.5.0
boto3
networkx==2.8.7
furo==2022.9.29
myst_parser
