numpy
scipy
pandas
matplotlib
altair
tqdm
filelock
typer
sh
sqlalchemy
pymysql
transformers
sentence-transformers==2.2.2
scikit-learn==0.23.2
spacy==3.4.0
jupyter
nervaluate
altair
selenium==4.2.0
altair_saver
webdriver-manager
s3fs
boto3
networkx
furo
myst_parser