ipykernel
jupytext
flake8
flake8-black
flake8-import-order
flake8-bandit
flake8-bugbear
black
Sphinx
sphinxcontrib-napoleon
sphinx-rtd-theme
pre-commit
pre-commit-hooks
spacy==3.4.0
pytest
sqlalchemy==1.4.37
pymysql==1.0.2
furo==2022.9.29
myst_parser
typing_extensions<4.6.0
setuptools-scm
build