html,
body,
[class*="css"] {
  /* Add the name of your font and local font path here*/
  font-family: "AvertaDemo-Regular";
  src: url("./fonts/AvertaDemo-Regular.otf") format("opentype");
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
div[data-testid="stExpander"] div[role="button"] p {
  font-size: 30px;
}
.title-font {
  font-size: 48px !important;
  font-weight: bold;
  color: #0f294a;
}
.subtitle-font {
  font-size: 26px !important;
  color: #646363;
}
.big-font {
  font-size: 34px !important;
  font-weight: bold;
}
.medium-font {
  font-size: 26px !important;
  font-weight: bold;
}
