@import url("https://fonts.googleapis.com/css2?family=Averta:wght@100&display=swap");

html,
body,
[class*="css"] {
  font-family: "Averta";
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
